header {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-around;
    background-color: aquamarine;
    padding: 20px;
    margin: 0;
}

main {
    border: 2px solid black;
}

h1 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

div {
    display: flex;
    flex: wrap;
    align-items: center;
    justify-content: center;
}


#customerList {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    text-align: center;
}

img {
    block-size: 100px;
    display: flex;
    border-radius: 50%;
}


.customer {
    display: flex;
    flex-flow: row wrap;
    width: 350px;
    height: 350px;
    align-items: center;
    justify-content: center;
    border: 2px dashed black;
    background-color: aquamarine;
}

.name {
    font-size: 20px;
    color: rgb(225, 0, 255);
}